{% extends 'layout.html' %}
{% block content %}

{% if title %}
  <title>Alex Pilipenko - {{ title }}</title>
{% else %}
  <title>Alex Pilipenko</title>
{% endif %}

<div class="container" style="text-align: left">
  <h2  style="text-align: center">About me</h2>
    <h4 style="padding-top: 40px">In 2009 I left my home country Latvia with a ~€100 in my pocket, just before I turned 20.
    That decision was based on the economic state in which my country was at that moment due to recession, lack of
    opportunities and total disappointment in several government institutes.
  </h4>

  <h4 style="padding-top: 40px">I don't want to sound cliche, but nothing was given me for free. I had to work hard
  (both in terms of physicality and dedication)
  to earn my spot under the sun and gain some sort of financial stability. While working, I never stopped looking around
  for opportunities in order to self-actualize(which I believe is one of the meanings of life). Sometimes, following opportunities
  worked out great for me, sometimes it led to dubious decisions which cost me time, money and nerves. In any case, I extracted
  valueable experiences from those situations and have no regrets.
  </h4>

  <h4 style="padding-top: 40px">Fast forward ~10 years later, I finally realised what I want to do with my life.
  It's funny how humans sometimes can look and search for something in the distance, while not realising what is in front of them.
  I have been around computers since I was 8, but somehow never dug deep enough to get a good taste. When I started learning to
  programm a couple of years ago I quickly realised that it is natural to me and that I enjoy this activity. I hope that dedication,
  passion and attention to details can be seen in the projects I am making.
  </h4>


  <h2  style="text-align: center; padding-top: 40px">To conclude</h2>
  <h4 style="padding-top: 40px">
    These days, living in the Covid era, I am working hard on my projects, obtaining/improving programming skills,
    studying towards my degree in the university and actively looking for my first job in the IT industry.
    I believe that I am on the right trajectory and it is only a matter of time before I get it!
  </h4>

</div>
{% endblock content %}
